# SQUAD PROJECT: DATABASES

In this project we are going to work with both SQL and NoSQL databases. For this purpose we are going to use PostgreSQL and MongoDB.

## 1. SQL

Structured Query Language (SQL) is a standardized programming language that is used to manage relational databases and perform various operations on the data in them.

### Creating Tables

First of all, we are going to create the tables as defined below. We'll need to define primary keys for each table and establish relationships between the tables with foreign keys. We will also define composite keys.

- Libro (ClaveLibro, Título, Idioma, Categoría, ClaveEditorial) 
- Tema (ClaveTema, Nombre) 
- Autor (ClaveAutor, Nombre, Fecha_nac) 
- Editorial (ClaveEditorial, Nombre, Dirección, Teléfono) 
- Socio (ClaveSocio, Nombre, Dirección, Teléfono, Fecha_nac) 
- Préstamo (ClaveSocio, ClaveLibro, Fecha_préstamo,  Fecha_devolución, Notas) 
- Trata_sobre (ClaveLibro, ClaveTema)
- Escrito_por (ClaveLibro, ClaveAutor)

The next image shows the relationships between the different tables.

![SQL](images/sql.png)

#### DDL (Data Definition Language):

CREATE TABLE Editorial (

    ClaveEditorial SERIAL PRIMARY KEY,
    Nombre VARCHAR(100) NOT NULL,
    Dirección VARCHAR(255),
    Teléfono VARCHAR(15)
    
);

CREATE TABLE Libro (

    ClaveLibro SERIAL PRIMARY KEY,
    Título VARCHAR(255) NOT NULL,
    Idioma VARCHAR(50),
    Edición VARCHAR(50),
    ClaveEditorial INT,
    FOREIGN KEY (ClaveEditorial) REFERENCES Editorial(ClaveEditorial)
    
);

CREATE TABLE Tema (

    ClaveTema SERIAL PRIMARY KEY,
    Nombre VARCHAR(255) NOT NULL
    
);

CREATE TABLE Autor ( 

    ClaveAutor SERIAL PRIMARY KEY,
    Nombre VARCHAR(100) NOT NULL,
    Fecha_nac DATE
    
);

CREATE TABLE Socio(

    ClaveSocio SERIAL PRIMARY KEY, 
    Nombre VARCHAR(100) NOT NULL,
    Dirección VARCHAR(255),
    Teléfono VARCHAR(15) CHECK (Teléfono LIKE '91%'),
    Fecha_nac DATE
    
);

CREATE TABLE Préstamo (

    ClaveSocio INT,
    ClaveLibro INT,
    Fecha_préstamo DATE,
    Fecha_devolución DATE,
    Notas VARCHAR(50) CHECK (Notas IN ('Bien', 'Hojas rotas', 'Manchado')),
    PRIMARY KEY (ClaveSocio, ClaveLibro),
    FOREIGN KEY (ClaveSocio) REFERENCES Socio (ClaveSocio),
    FOREIGN KEY (ClaveLibro) REFERENCES Libro (ClaveLibro),
    CHECK (Fecha_préstamo < Fecha_devolución)
    
);

CREATE TABLE Trata_sobre (

    ClaveLibro INT,
    ClaveTema INT,
    PRIMARY KEY (ClaveLibro, ClaveTema),
    FOREIGN KEY (ClaveLibro) REFERENCES Libro (ClaveLibro),
    FOREIGN KEY (ClaveTema) REFERENCES Tema (ClaveTema)
    
);

CREATE TABLE Escrito_por (

    ClaveLibro INT,
    ClaveAutor INT,
    PRIMARY KEY (ClaveLibro, ClaveAutor),
    FOREIGN KEY (ClaveLibro) REFERENCES Libro (ClaveLibro),
    FOREIGN KEY (ClaveAutor) REFERENCES Autor (ClaveAutor)
    
);

#### Implementing restrictions and constraints.

We have implemented some restrictions in the tables in order to:
1. Ensure that as many primary keys as possible are set to auto-increment
2. In the Loan Relationship, the loan date must be less than the return date
3. In the same relation (Loan) the note field can only have three possible values: fine, torn sheet, stained
4. In the Partner Relationship the telephone number has to start with 91
5. In the Book Relationship, the Title field is an alternative key. Category cannot take values (Fourth and Fifth)
6. We have to maintain referential integrity in all Relations. Specifically in the Topic Relationship (key_subject_related)
7. The foreign key indicated must have the name of the Constraint “Clave_fk_tema”; we cannot leave the one given by default

### Insert Elements Into Tables

Once all table are created, we are going to populate the tables with data. We have to ensure that all data is accurately and correctly entered. This step is crucial for the subsequent operations and queries we will perform on your database.

#### DML (Data Manipulation Language)

INSERT INTO Editorial (Nombre, Dirección, Teléfono)
VALUES 

    ('Editorial Planeta', 'Carrer de Mallorca, 2, 08003 Barcelona, España', '913 18 03 00'),
    ('Gigamesh', 'Carrer de Bailèn, 8, 08010 Barcelona, España', '913 17 02 78'),
    ('Norma Editorial', 'Passeig de Sant Joan, 9, 08010 Barcelona, España', '912 65 70 00'),
    ('Penguin Random House', 'Gran Vía, 12, 28013 Madrid, España', '915 47 88 00'),
    ('Nova', 'Calle Alcalá, 79, 28009 Madrid, España', '915 38 72 00');

![SQL](images/Editorial.png)

INSERT INTO Libro (Título, Idioma, Edición, ClaveEditorial)
VALUES 
  
    ('Cien años de soledad','Español','Primera',1),
    ('El nombre del viento','Inglés','Segunda',4),
    ('Crónica de una muerte anunciada','Español','Tercera',4),
    ('La sombra del viento','Español','Tercera',1),
    ('Los juegos del hambre','Inglés','Primera',3),
    ('El laberinto de los espíritus','Español','Segunda',2),
    ('La ciudad de las bestias','Español','Tercera',1),
    ('Rayuela','Español','Segunda',5);

![SQL](images/Libro.png)

INSERT INTO Autor (Nombre, Fecha_nac)
VALUES 

    ('Gabriel García Márquez','1927-03-06'),
    ('Patrick Rothfuss','1973-06-06'),
    ('Carlos Ruiz Zafón','1964-09-25'),
    ('Suzanne Collins','1962-08-10'),
    ('Isabel Allende','1942-08-02'),
    ('Julio Cortázar','1914-08-26');

![SQL](images/Autor.png)

INSERT INTO Tema (Nombre)
VALUES

    ('Realismo mágico'),
    ('Fantasía épica'),
    ('Novela corta'),
    ('Ficción histórica'),
    ('Ciencia ficción distópica'),
    ('Ficción misterio'),
    ('Aventura juvenil'),
    ('Novela experimental');

![SQL](images/Tema.png)

INSERT INTO Socio (Nombre, Dirección, Teléfono, Fecha_nac)
VALUES 

    ('Pepe', 'C/Verdura', '913559799', '1956-10-10'), 
    ('Sara', 'C/Coliflor', '912992628', '1976-08-06'),
    ('Ramón', 'C/Espárrago', '912345679', '1995-02-09'),
    ('Ana', 'C/Zanahoria', '911234567', '1988-04-15'),
    ('Juan', 'C/Pepino', '910987654', '1970-11-20'),
    ('Laura', 'C/Lechuga', '913333444', '1992-07-03'),
    ('Miguel', 'C/Berenjena', '912345678', '1985-09-12'),
    ('María', 'C/Pimiento', '911111222', '2000-01-25'),
    ('Pedro', 'C/Calabacín', '910123456', '1982-06-18'),
    ('Isabel', 'C/Apio', '914567890', '1998-03-30');

![SQL](images/Socio.png)

INSERT INTO Préstamo (ClaveSocio, ClaveLibro, Fecha_Préstamo, Fecha_Devolución, Notas)
VALUES

    (1, 5,'2024-01-10','2024-02-13','Hojas rotas'), 
    (2, 6, '2024-01-10', null, 'Bien'),
    (2, 3, '2024-03-05', '2024-03-20', 'Manchado'),
    (3, 2, '2024-04-15', '2024-05-10', 'Bien'),
    (1, 1, '2024-05-20', '2024-06-15', 'Hojas rotas'),
    (2, 4, '2024-06-25', '2024-07-20', 'Bien'),
    (3, 6, '2024-07-30', null, 'Manchado'),
    (1, 7, '2024-08-05', '2024-08-20', 'Bien'),
    (2, 8, '2024-09-10', '2024-09-25', 'Bien'),
    (3, 3, '2024-10-15', null, 'Hojas rotas'),
    (2, 7, '2024-11-20', '2024-12-15', 'Bien');

![SQL](images/Prestamo.png)

INSERT INTO Trata_sobre (ClaveLibro, ClaveTema)
VALUES

    (1, 1),
    (2, 2),
    (3, 3),
    (4, 4),
    (5, 5),
    (6, 6),
    (7, 7),
    (8, 8);

![SQL](images/Trata_sobre.png)

INSERT INTO Escrito_por (ClaveLibro, ClaveAutor)
VALUES 

    (1, 1),
    (2, 2),
    (3, 1),
    (4, 3),
    (5, 4),
    (6, 3),
    (7, 5),
    (8, 6);

![SQL](images/Escrito_por.png)

### Performing Queries

1. Display Topic Name, Book Edition, and Position of the First 'e' in the Topic Name. Requirements:

The book edition must contain exactly 2 'e'.The edition of the book we are interested in having 2 "e"
The length of the theme name must be greater than or equal to 7 characters

![SQL](images/query_1.png)

2. Name of members who have been loaned books that have not yet been returned (maybe some have returned them but others have not (those are the ones we're interested in)

![SQL](images/query_2.png)

3. Name of the author who has written 2 or more books on the topic "Ficción"

![SQL](images/query_3.png)

4. Show the title of the books and the name of the publisher, whether or not we know if they have been published by a publisher or not, but of the books whose loan date is between the 1st and 5th of each month (we are not interested at all neither the month nor the year; only the days).

![SQL](images/query_4.png)

5. Name of the oldest member to whom more than 1 book has been lent

![SQL](images/query_5.png)

## 2. NoSQL

NoSQL, also referred to as “not only SQL”, is an approach to database design that enables the storage and querying of data outside the traditional structures found in relational databases.

### Creating DB and collections

First of all we filtered columns from an xml file and created different csv files.

Once we had our separated data we imported this csv files with MongoDB Compass to create our collections.

![SQL](images/collections.png)

Customer collections structure

![SQL](images/customers.png)

Order collections structure

![SQL](images/orders.png)

Order measures collection structure

![SQL](images/order_measures.png)

Product collection structure

![SQL](images/product.png)

### Data Analysis

1. Furniture Sales in Kentucky: Determine the total sales amount for products in the 'Furniture' category for the state of Kentucky.

![SQL](images/kentucky_sales.png)

2. Orders with Negative Profit: Identify all orders that resulted in negative profit.

2.1 First of all, we changed 'Profit' field from string to a double, using the provided MongoDB update command.

![SQL](images/string_to_double.png)

2.2 After converting "Profit" to double, we are able to check values lower than zero.

![SQL](images/negative_profit.png)

3. Single Product Customers: Find customers who have purchased only one product.

![SQL](images/unique_cust.png)

4. Bookcases and Art Buyers: Locate customers who have purchased products in both 'Bookcases' and 'Art' subcategories.

![SQL](images/art_bookcases_customers.png)

## Neo4j

We start to create a new whole project

![Untitled](./Images/Create_new_project.png)

Now we have to add a new DBMS

![Untitled](./Images/add_new_DSMS.png)

Its time to set up our DBMS chosing the name and a password

![Untitled](./Images/Config_new_DSMS.png)

In this step we need to find our files path

![Untitled](./Images/Open_folder.png)

We used this script in order tu create our nodes

LOAD CSV WITH HEADERS FROM 'file:///Customers.csv' AS row FIELDTERMINATOR ";" 
CREATE (:Customer {Customer_ID: row.Customer_ID, Customer_Name: row.Customer_Name})

CREATE ()
WITH 1 AS dummy
LOAD CSV WITH HEADERS FROM 'file:///Product.csv' AS product_row FIELDTERMINATOR ";" 
CREATE (:Product {Product_ID: product_row.Product_ID, Category: product_row.Category, `Sub-Category`: product_row.`Sub-Category`, Product_Name: product_row.Product_Name})


CREATE ()
WITH 1 AS dummy2
LOAD CSV WITH HEADERS FROM 'file:///Geo_Date.csv' AS geo_row FIELDTERMINATOR ";" 
CREATE (:Geo_Date {Order_ID: geo_row.Order_ID, Order_Date: geo_row.Order_Date, Ship_Date: geo_row.Ship_Date, Country: geo_row.Country, City: geo_row.City, State: geo_row.State, Postal_Code: geo_row.Postal_Code, Region: geo_row.Region})

This is our recently created node's look

![Untitled](./Images/Graphs_created.png)

![Untitled](./Images/code_error.png)

Finally, a brief discussion about the advantages and disadvantages of using different databases for the given dataset, focusing on how they impact the handling, querying, and management of data.

- Relational Databases: Best suited for structured data with well-defined relationships and complex queries.

- NoSQL Databases: Provide flexibility for evolving data structures and scale horizontally but may sacrifice strict consistency.

- Columnar Store Databases: Optimized for analytical queries on large datasets, with scalability and compression benefits.

- Key-Value Stores: Simple and efficient for specific use cases, such as caching, with excellent performance and scalability.

- Graph Databases: Ideal for scenarios where relationships are a primary concern, offering efficient traversal of complex relationships.